<a href="https://colab.research.google.com/github/pranjal1005/summer-internship-projects/blob/main/trainingday8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mylist [10,20,30,40,1,7,33,2,8,12]
for i in range(0, len(mylist) ):

  for j in range(i+1,  len(mystyle) ):
    if(mylist[i] + mylist[j] == 9 ):
      print("sum of two value => ", mylist[i] , mylist[j])

NameError: name 'mylist' is not defined

In [ ]:
mytuple = (10,20,30,"abc",10,50)
mytuple.count(10)
mytuple.index("abc")

3

In [ ]:
for i in range(1,4):
  print("student",i)

  for j in range(1,6):
    print("sub :",j ,end=" ")
  print("##### TEA BREAK #####")

student 1
sub : 1 sub : 2 sub : 3 sub : 4 sub : 5 ##### TEA BREAK #####
student 2
sub : 1 sub : 2 sub : 3 sub : 4 sub : 5 ##### TEA BREAK #####
student 3
sub : 1 sub : 2 sub : 3 sub : 4 sub : 5 ##### TEA BREAK #####

In [ ]:
for i in range(1,4):
    print("student", i )
    for j in range(1,i+1):
        print("good morning ", j)

student 1
good morning  1
student 2
good morning  1
good morning  2
student 3
good morning  1
good morning  2
good morning  3

In [ ]:
for i in range(1,4):
  print("student",i)

  for j in range(1,i+1):
    print("sub :",j ,end= " ")
  print("##### TEA BREAK #####")

student 1
sub : 1 ##### TEA BREAK #####
student 2
sub : 1 sub : 2 ##### TEA BREAK #####
student 3
sub : 1 sub : 2 sub : 3 ##### TEA BREAK #####

In [ ]:
for i in range(1,4):
  print("student",i)

  for j in range(1,5-i):
    print("sub :",j ,end= " ")
  print("##### TEA BREAK #####")

student 1
sub : 1 sub : 2 sub : 3 ##### TEA BREAK #####
student 2
sub : 1 sub : 2 ##### TEA BREAK #####
student 3
sub : 1 ##### TEA BREAK #####

In [ ]:
for i in range(1,5):

  for j in range(1,i+1):
    print("*", end= " ")
  print(" ")

*
* *
* * *
* * * *

In [ ]:
for i in range(1,4):
  print(str(i) * 4)

1111
2222
3333

In [ ]:
for i in range(4,9,2):
  print(str(i) * 4)

4444
6666
8888

In [ ]:
for i in range(3):
  print("1234")

1234
1234
1234

In [ ]:
for i in range(4):
  print("4567")

4567
4567
4567
4567

In [ ]:
for i in range(3):
  print("ABC")

ABC
ABC
ABC

In [ ]:
num = 1
for i in range(1,10,4):
  for j in range(1,5):
    print(num, end=" ")
    num += 1
  print(" ")

1 2 3 4
5 6 7 8
9 10 11 12

In [ ]:
x = 65
for i in range(65,71,1):

  for j in range(65,i+1):
    print(x , end=" ")
    x += 1
  print(" ")

65
66 67
68 69 70
71 72 73 74
75 76 77 78 79
80 81 82 83 84 85

In [ ]:
for i in range(1,5):

  for j in range(1,i+1):
    print("*", end= " ")
  print(" ")

*
* *
* * *
* * * *

In [ ]:
for i in range(1,5,1):

  for j in range(1,i+1):
    print(j , end =" ")
  print(" ")

1
1 2
1 2 3
1 2 3 4

In [ ]:
for i in range(4,8,1):

  for j in range(4,i+1):
    print(j , end =" ")
  print(" ")

4
4 5
4 5 6
4 5 6 7

In [ ]:
x = 65
for i in range(65,71,1):

  for j in range(65,i+1):
    print(x , end=" ")
    x += 1
  print(" ")

65
66 67
68 69 70
71 72 73 74
75 76 77 78 79
80 81 82 83 84 85

In [ ]:
for i in range(1,5):

  for j in range(1,5-i):
    print("-", end=" ")

  for j in range(1 , i+1):
    print("*", end=" ")

  print(" ")

- - - *
- - * *
- * * *
* * * *

In [ ]:
for i in range(1,6):

  for j in range(1,i+1):
    print("*", end=" ")

  for j in range(1 , 6-i):
    print("-", end=" ")

  print(" ")

* - - - -
* * - - -
* * * - -
* * * * -
* * * * *

In [ ]:
x = 1
for i in range(1,5):

   for j in range(i):
    print(str(j%2), end= "")

   print(" ")

0
01
010
0101

In [ ]:
x = 4

for i in range( x ):
    print(" " * i + "****")

****
 ****
  ****
   ****

In [ ]:
x = "ABCDE"

for i in range(5):
  print(x[4-i:])

E
DE
CDE
BCDE
ABCDE

In [ ]:
for i in range(5):
    ch = 'E'
    for j in range(i + 1):
        print(chr(ord(ch) - i + j), end="")
    print()

E
DE
CDE
BCDE
ABCDE